In [1]:
#Calculations dataframes for analysis of STAAR data.
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

In [4]:
#Import cleaned STAAR data for Grade 3, all students.
grade3all_df = pd.read_csv('../cleandata/AllStudentsGrade3.csv', header=0)
grade3all_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,Below Grade Level,Approach Grade Level,Meet Grade Level,Master Grade Level
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,6.0,40.0,38.0,27.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,26.0,68.0,37.0,12.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,16.0,39.0,26.0,10.0
3,1906102,NECHES ISD,NECHES ELEM.,3,INDEPENDENT,P O BOX 310,NECHES,75779-0310,5.0,20.0,7.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,INDEPENDENT,201 GILLESPIE RD,PALESTINE,75801-7627,46.0,174.0,93.0,51.0

'C:\\Users\\StevenJBark\\Desktop\\RICEDAV\\Projects\\RiceBootcampProject1\\Team10Project1_Repo\\notebooks'