In [1]:
#Raw data file is about 4400 x 3150. Make focused .csv files for each catagory important for analysis in this project.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read in created FinalHeaders.csv file for the headers important for this project.
headers = pd.read_csv('../cleandata/FinalHeaders.csv', header=0)
headers.head(10)

       ColumnHeaders
0             CAMPUS
1              DNAME
2              CNAME
3              GRADE
4   m_all_unsatgl_nm
5  m_sexm_unsatgl_nm
6  m_sexf_unsatgl_nm
7  m_ethh_unsatgl_nm
8  m_ethi_unsatgl_nm
9  m_etha_unsatgl_nm

In [3]:
#Generate header list for referencing
headerlist = []

for index, row in headers.iterrows():
    headerlist.append(row[0])

headerlist

['CAMPUS',
 'DNAME',
 'CNAME',
 'GRADE',
 'm_all_unsatgl_nm',
 'm_sexm_unsatgl_nm',
 'm_sexf_unsatgl_nm',
 'm_ethh_unsatgl_nm',
 'm_ethi_unsatgl_nm',
 'm_etha_unsatgl_nm',
 'm_ethb_unsatgl_nm',
 'm_ethp_unsatgl_nm',
 'm_ethw_unsatgl_nm',
 'm_ecoy_unsatgl_nm',
 'm_econ_unsatgl_nm',
 'm_eco1_unsatgl_nm',
 'm_eco2_unsatgl_nm',
 'm_eco9_unsatgl_nm',
 'm_ti19_unsatgl_nm',
 'm_migy_unsatgl_nm',
 'm_mign_unsatgl_nm',
 'm_spey_unsatgl_nm',
 'm_spen_unsatgl_nm',
 'm_gify_unsatgl_nm',
 'm_gifn_unsatgl_nm',
 'm_atry_unsatgl_nm',
 'm_atrn_unsatgl_nm',
 'm_all_approgl_nm',
 'm_sexm_approgl_nm',
 'm_sexf_approgl_nm',
 'm_ethh_approgl_nm',
 'm_ethi_approgl_nm',
 'm_etha_approgl_nm',
 'm_ethb_approgl_nm',
 'm_ethp_approgl_nm',
 'm_ethw_approgl_nm',
 'm_ecoy_approgl_nm',
 'm_econ_approgl_nm',
 'm_eco1_approgl_nm',
 'm_eco2_approgl_nm',
 'm_eco9_approgl_nm',
 'm_ti19_approgl_nm',
 'm_migy_approgl_nm',
 'm_mign_approgl_nm',
 'm_spey_approgl_nm',
 'm_spen_approgl_nm',
 'm_gify_approgl_nm',
 'm_gifn_approgl_nm',
 'm_atry_approgl_nm',
 'm_atrn_approgl_nm',
 'm_all_meetsgl_nm',
 'm_sexm_meetsgl_nm',
 'm_sexf_meetsgl_nm',
 'm_ethh_meetsgl_nm',
 'm_ethi_meetsgl_nm',
 'm_etha_meetsgl_nm',
 'm_ethb_meetsgl_nm',
 'm_ethp_meetsgl_nm',
 'm_ethw_meetsgl_nm',
 'm_ecoy_meetsgl_nm',
 'm_econ_meetsgl_nm',
 'm_eco1_meetsgl_nm',
 'm_eco2_meetsgl_nm',
 'm_eco9_meetsgl_nm',
 'm_ti19_meetsgl_nm',
 'm_migy_meetsgl_nm',
 'm_mign_meetsgl_nm',
 'm_spey_meetsgl_nm',
 'm_spen_meetsgl_nm',
 'm_gify_meetsgl_nm',
 'm_gifn_meetsgl_nm',
 'm_atry_meetsgl_nm',
 'm_atrn_meetsgl_nm',
 'm_all_mastrgl_nm',
 'm_sexm_mastrgl_nm',
 'm_sexf_mastrgl_nm',
 'm_ethh_mastrgl_nm',
 'm_ethi_mastrgl_nm',
 'm_etha_mastrgl_nm',
 'm_ethb_mastrgl_nm',
 'm_ethp_mastrgl_nm',
 'm_ethw_mastrgl_nm',
 'm_ecoy_mastrgl_nm',
 'm_econ_mastrgl_nm',
 'm_eco1_mastrgl_nm',
 'm_eco2_mastrgl_nm',
 'm_eco9_mastrgl_nm',
 'm_ti19_mastrgl_nm',
 'm_migy_mastrgl_nm',
 'm_mign_mastrgl_nm',
 'm_spey_mastrgl_nm',
 'm_spen_mastrgl_nm',
 'm_gify_mastrgl_nm',
 'm_gifn_mastrgl_nm',
 'm_atry_mastrgl_nm',
 'm_atrn_mastrgl_nm']

In [4]:
#Read in raw school data for STAAR Test, 2019, 5th Grade
schooldata_df = pd.read_csv('../rawdata/cfy19e3.csv', header=0)
schooldata_df.head()

,CAMPUS,YEAR,REGION,DISTRICT,DNAME,CNAME,GRADE,r_all_docs_n,r_all_abs_n,r_all_oth_n,...,m_gifn_avg_cat4,m_gifn_pct_cat4,m_gifv_avg_cat4,m_gifv_pct_cat4,m_atry_avg_cat4,m_atry_pct_cat4,m_atrn_avg_cat4,m_atrn_pct_cat4,m_atrv_avg_cat4,m_atrv_pct_cat4
0,1902103,19,7,1902,CAYUGA ISD,CAYUGA ELEM.,3,46,0,0,...,3.3,83.0,NaN,NaN,3.1,79.0,3.4,86.0,NaN,
1,1903102,19,7,1903,ELKHART ISD,ELKHART INTERME,3,94,0,0,...,2.7,67.0,NaN,NaN,2.5,63.0,2.8,69.0,NaN,
2,1904102,19,7,1904,FRANKSTON ISD,FRANKSTON ELEM.,3,55,0,0,...,2.5,62.0,NaN,NaN,2.4,60.0,2.7,68.0,NaN,
3,1906102,19,7,1906,NECHES ISD,NECHES ELEM.,3,25,0,0,...,2.7,66.0,NaN,NaN,NaN,NaN,2.9,71.0,NaN,
4,1907107,19,7,1907,PALESTINE ISD,SOUTHSIDE ELEM.,3,206,0,0,...,2.7,68.0,NaN,NaN,2.7,67.0,2.8,70.0,NaN,

In [5]:
#Use headerlist to reduce data from 3145 columns to 96 columns for easier data management.
cleanedschooldata = schooldata_df[headerlist]

In [6]:
cleanedschooldata.head(10)

,CAMPUS,DNAME,CNAME,GRADE,m_all_unsatgl_nm,m_sexm_unsatgl_nm,m_sexf_unsatgl_nm,m_ethh_unsatgl_nm,m_ethi_unsatgl_nm,m_etha_unsatgl_nm,...,m_eco9_mastrgl_nm,m_ti19_mastrgl_nm,m_migy_mastrgl_nm,m_mign_mastrgl_nm,m_spey_mastrgl_nm,m_spen_mastrgl_nm,m_gify_mastrgl_nm,m_gifn_mastrgl_nm,m_atry_mastrgl_nm,m_atrn_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,6.0,4.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,27.0,1.0,26.0,NaN,23.0,5.0,22.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,26.0,15.0,11.0,4.0,NaN,NaN,...,NaN,NaN,NaN,12.0,0.0,12.0,NaN,10.0,2.0,10.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,16.0,7.0,9.0,1.0,NaN,NaN,...,NaN,NaN,NaN,10.0,0.0,10.0,NaN,7.0,1.0,9.0
3,1906102,NECHES ISD,NECHES ELEM.,3,5.0,2.0,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,2.0,NaN,1.0,NaN,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,46.0,20.0,26.0,14.0,NaN,NaN,...,NaN,NaN,NaN,51.0,3.0,48.0,6.0,45.0,24.0,27.0
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,3,50.0,23.0,27.0,17.0,NaN,NaN,...,NaN,NaN,NaN,6.0,0.0,6.0,NaN,4.0,1.0,5.0
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,3,5.0,3.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,5.0,NaN,4.0,1.0,4.0
7,2901101,ANDREWS ISD,DEVONIAN ELEM.,3,49.0,22.0,27.0,38.0,NaN,NaN,...,NaN,NaN,NaN,69.0,1.0,68.0,18.0,51.0,2.0,67.0
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,3,15.0,7.0,8.0,2.0,NaN,NaN,...,NaN,NaN,NaN,28.0,NaN,28.0,4.0,24.0,0.0,28.0
9,3902102,HUDSON ISD,W.H. BONNER ELE,3,27.0,16.0,11.0,13.0,NaN,NaN,...,NaN,NaN,NaN,49.0,1.0,48.0,6.0,43.0,11.0,38.0

In [7]:
#We need school data from SchoolDirectory.csv in our data. School Number, School Street Address, School City, School Zip Code
DInfo_df = pd.read_csv('../rawdata/SchoolDirectory.csv', header=0)
DInfo_df.head(10)

,County Number,County Name,Region Number,District Number,District Name,District Type,District Street Address,District City,District State,District Zip,...,School Phone,School Fax,School Email Address,School Web Page Address,School Principal,Grade Range,School Enrollment as of Oct 2018,School Status,School Status Date,Update Date
0,'001,ANDERSON COUNTY,'07,'001902,CAYUGA ISD,INDEPENDENT,P O BOX 427,CAYUGA,TX,75832-0427,...,(903) 928-2294 ext:012,(903) 928-2239,admin1@cayugaisd.com,www.cayugaisd.com,MR JOE E SATTERWHITE III,'09-12,179,Active,,11/14/2019 5:35
1,'001,ANDERSON COUNTY,'07,'001902,CAYUGA ISD,INDEPENDENT,P O BOX 427,CAYUGA,TX,75832-0427,...,(903) 928-2699 ext:4001,(903) 928-2646,admin1@cayugaisd.com,www.cayugaisd.com,MRS SHERRI MCINNIS,'06-08,119,Active,3/11/1996,11/14/2019 5:35
2,'001,ANDERSON COUNTY,'07,'001902,CAYUGA ISD,INDEPENDENT,P O BOX 427,CAYUGA,TX,75832-0427,...,(903) 928-2295,(903) 928-2387,admin1@cayugaisd.com,www.cayugaisd.com,MRS TRACIE CAMPBELL,'EE-05,266,Active,,11/14/2019 5:35
3,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,(903) 764-5161,(903) 764-2414,hneugebauer@elkhartisd.org,elkhartisd.org,MR JASON W IVES,'09-12,376,Active,,11/14/2019 5:35
4,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,,,tpyeatt@elkhartisd.org,NaN,,'KG-12,2,Active,6/28/2002,11/14/2019 5:35
5,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,(903) 764-2459,(903) 764-8287,sfox@elkhartisd.org,elkhartisd.org,MRS REBECCA HUFF,'06-08,261,Active,1/1/1996,11/14/2019 5:35
6,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,(903) 764-2979,(903) 764-8286,ddancer@elkhartisd.org,elkhartisd.org,MR KYLE JOHNSON,'EE-02,339,Active,,11/14/2019 5:35
7,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,(903) 764-8535,(903) 764-8287,kbridges@elkhartisd.org,elkhartisd.org,MR GREGORY D HERRING,'03-05,277,Active,6/29/2011,11/14/2019 5:35
8,'001,ANDERSON COUNTY,'07,'001904,FRANKSTON ISD,INDEPENDENT,P O BOX 428,FRANKSTON,TX,75763-0428,...,(903) 876-3219,(903) 876-4558,contact@frankstonisd.net,www.frankstonisd.net,EDGAR RODRIGUEZ,'09-12,228,Active,,11/14/2019 5:35
9,'001,ANDERSON COUNTY,'07,'001904,FRANKSTON ISD,INDEPENDENT,P O BOX 428,FRANKSTON,TX,75763-0428,...,(903) 876-2215,(903) 876-4558,contact@frankstonisd.net,www.frankstonisd.net,EDGAR RODRIGUEZ,'06-08,194,Active,9/1/1992,11/14/2019 5:35

In [8]:
#Take the appropriate columns and make a dataframe for merging to the cleanedschooldata dataframe.
DInfo_School_df = DInfo_df[['School Number', 'School Street Address', 'School City', 'School Zip', 'District Type']]
DInfo_School_df.head(10)

  School Number School Street Address School City  School Zip District Type
0    '001902001           P O BOX 427      CAYUGA  75832-0427   INDEPENDENT
1    '001902041           P O BOX 427      CAYUGA  75832-0427   INDEPENDENT
2    '001902103           P O BOX 427      CAYUGA  75832-0427   INDEPENDENT
3    '001903001       301 E PARKER ST     ELKHART  75839-9701   INDEPENDENT
4    '001903002       301 E PARKER ST     ELKHART       75839   INDEPENDENT
5    '001903041       301 E PARKER ST     ELKHART  75839-9701   INDEPENDENT
6    '001903101       301 E PARKER ST     ELKHART  75839-9701   INDEPENDENT
7    '001903102       301 E PARKER ST     ELKHART  75839-9701   INDEPENDENT
8    '001904001           P O BOX 428   FRANKSTON  75763-0428   INDEPENDENT
9    '001904041           P O BOX 428   FRANKSTON  75763-0428   INDEPENDENT

In [9]:
#Make a new CAMPUS column from the School Number, remove the ' and truncate to integers. This makes CAMPUS
#number equal to the number for the cleanedschooldata dataframe.
for index, row in DInfo_School_df.iterrows():
    
    DInfo_School_df.loc[index, 'CAMPUS'] = int(row[0][1:])

C:\Users\StevenJBark\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\StevenJBark\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
DInfo_School_df.head(20)

,School Number,School Street Address,School City,School Zip,District Type,CAMPUS
0,'001902001,P O BOX 427,CAYUGA,75832-0427,INDEPENDENT,1902001.0
1,'001902041,P O BOX 427,CAYUGA,75832-0427,INDEPENDENT,1902041.0
2,'001902103,P O BOX 427,CAYUGA,75832-0427,INDEPENDENT,1902103.0
3,'001903001,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903001.0
4,'001903002,301 E PARKER ST,ELKHART,75839,INDEPENDENT,1903002.0
5,'001903041,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903041.0
6,'001903101,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903101.0
7,'001903102,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903102.0
8,'001904001,P O BOX 428,FRANKSTON,75763-0428,INDEPENDENT,1904001.0
9,'001904041,P O BOX 428,FRANKSTON,75763-0428,INDEPENDENT,1904041.0
10,'001904102,P O BOX 428,FRANKSTON,75763-0428,INDEPENDENT,1904102.0
11,'001906002,P O BOX 310,NECHES,75779-0310,INDEPENDENT,1906002.0
12,'001906102,P O BOX 310,NECHES,75779-0310,INDEPENDENT,1906102.0
13,'001907001,1600 S LOOP 256,PALESTINE,75801-5898,INDEPENDENT,1907001.0
14,'001907041,233 BEN MILAM DR,PALESTINE,75801-6003,INDEPENDENT,1907041.0
15,'001907101,2509 HWY 155 N,PALESTINE,75801-9999,INDEPENDENT,1907101.0
16,'001907102,1020 W HAMLET,PALESTINE,75803,INDEPENDENT,1907102.0
17,'001907107,201 GILLESPIE RD,PALESTINE,75801-7627,INDEPENDENT,1907107.0
18,'001907110,5300 S LOOP 256,PALESTINE,75801-2415,INDEPENDENT,1907110.0
19,'001908002,P O BOX 260,PALESTINE,75802-0260,INDEPENDENT,1908002.0

In [11]:
#Merge the cleanedschooldata and test_df dataframes
cleanedschooldata2 = pd.merge(cleanedschooldata, DInfo_School_df, on='CAMPUS', how='left')

In [12]:
cleanedschooldata2.count()

CAMPUS                   4567
DNAME                    4567
CNAME                    4567
GRADE                    4567
m_all_unsatgl_nm         4542
m_sexm_unsatgl_nm        4488
m_sexf_unsatgl_nm        4468
m_ethh_unsatgl_nm        4251
m_ethi_unsatgl_nm          13
m_etha_unsatgl_nm         886
m_ethb_unsatgl_nm        2337
m_ethp_unsatgl_nm          13
m_ethw_unsatgl_nm        3066
m_ecoy_unsatgl_nm        4424
m_econ_unsatgl_nm        3750
m_eco1_unsatgl_nm        4098
m_eco2_unsatgl_nm        1485
m_eco9_unsatgl_nm        1405
m_ti19_unsatgl_nm           3
m_migy_unsatgl_nm          56
m_mign_unsatgl_nm        4540
m_spey_unsatgl_nm        3314
m_spen_unsatgl_nm        4531
m_gify_unsatgl_nm        2510
m_gifn_unsatgl_nm        4535
m_atry_unsatgl_nm        4286
m_atrn_unsatgl_nm        4407
m_all_approgl_nm         4542
m_sexm_approgl_nm        4488
m_sexf_approgl_nm        4468
                         ...
m_atry_meetsgl_nm        4286
m_atrn_meetsgl_nm        4407
m_all_mastrgl_nm         4542
m_sexm_mastrgl_nm        4488
m_sexf_mastrgl_nm        4468
m_ethh_mastrgl_nm        4251
m_ethi_mastrgl_nm          13
m_etha_mastrgl_nm         886
m_ethb_mastrgl_nm        2337
m_ethp_mastrgl_nm          13
m_ethw_mastrgl_nm        3066
m_ecoy_mastrgl_nm        4424
m_econ_mastrgl_nm        3750
m_eco1_mastrgl_nm        4098
m_eco2_mastrgl_nm        1485
m_eco9_mastrgl_nm        1405
m_ti19_mastrgl_nm           3
m_migy_mastrgl_nm          56
m_mign_mastrgl_nm        4540
m_spey_mastrgl_nm        3314
m_spen_mastrgl_nm        4531
m_gify_mastrgl_nm        2510
m_gifn_mastrgl_nm        4535
m_atry_mastrgl_nm        4286
m_atrn_mastrgl_nm        4407
School Number            4534
School Street Address    4534
School City              4534
School Zip               4534
District Type            4534
Length: 101, dtype: int64

In [13]:
cleanedschooldata2.head(10)

,CAMPUS,DNAME,CNAME,GRADE,m_all_unsatgl_nm,m_sexm_unsatgl_nm,m_sexf_unsatgl_nm,m_ethh_unsatgl_nm,m_ethi_unsatgl_nm,m_etha_unsatgl_nm,...,m_spen_mastrgl_nm,m_gify_mastrgl_nm,m_gifn_mastrgl_nm,m_atry_mastrgl_nm,m_atrn_mastrgl_nm,School Number,School Street Address,School City,School Zip,District Type
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,6.0,4.0,2.0,NaN,NaN,NaN,...,26.0,NaN,23.0,5.0,22.0,'001902103,P O BOX 427,CAYUGA,75832-0427,INDEPENDENT
1,1903102,ELKHART ISD,ELKHART INTERME,3,26.0,15.0,11.0,4.0,NaN,NaN,...,12.0,NaN,10.0,2.0,10.0,'001903102,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,16.0,7.0,9.0,1.0,NaN,NaN,...,10.0,NaN,7.0,1.0,9.0,'001904102,P O BOX 428,FRANKSTON,75763-0428,INDEPENDENT
3,1906102,NECHES ISD,NECHES ELEM.,3,5.0,2.0,3.0,1.0,NaN,NaN,...,2.0,NaN,1.0,NaN,2.0,'001906102,P O BOX 310,NECHES,75779-0310,INDEPENDENT
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,46.0,20.0,26.0,14.0,NaN,NaN,...,48.0,6.0,45.0,24.0,27.0,'001907107,201 GILLESPIE RD,PALESTINE,75801-7627,INDEPENDENT
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,3,50.0,23.0,27.0,17.0,NaN,NaN,...,6.0,NaN,4.0,1.0,5.0,'001908101,P O BOX 260,PALESTINE,75802-0260,INDEPENDENT
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,3,5.0,3.0,2.0,NaN,NaN,NaN,...,5.0,NaN,4.0,1.0,4.0,'001909101,5765 E STATE HWY 294,ELKHART,75839-9802,INDEPENDENT
7,2901101,ANDREWS ISD,DEVONIAN ELEM.,3,49.0,22.0,27.0,38.0,NaN,NaN,...,68.0,18.0,51.0,2.0,67.0,'002901101,405 NW 3RD ST,ANDREWS,79714-5098,INDEPENDENT
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,3,15.0,7.0,8.0,2.0,NaN,NaN,...,28.0,4.0,24.0,0.0,28.0,'003801103,602 S RAGUET ST,LUFKIN,75904,CHARTER
9,3902102,HUDSON ISD,W.H. BONNER ELE,3,27.0,16.0,11.0,13.0,NaN,NaN,...,48.0,6.0,43.0,11.0,38.0,'003902102,536 FM 3258,LUFKIN,75904,INDEPENDENT

In [14]:
#Basic cleaned file for further data extraction of focused .csv files. 
cleanedschooldata2.to_csv('..\cleandata\CleanedSchoolDataGrade3.csv', header=True, index=False)

In [15]:
#Create DataFrame for numbers in 'all students' categories.
allstudents_df = cleanedschooldata2[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Street Address', 'School City', 'School Zip', 'm_all_unsatgl_nm', 'm_all_approgl_nm', 'm_all_meetsgl_nm', 'm_all_mastrgl_nm']]
allstudents_df.head(5)

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,m_all_unsatgl_nm,m_all_approgl_nm,m_all_meetsgl_nm,m_all_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,6.0,40.0,38.0,27.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,26.0,68.0,37.0,12.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,16.0,39.0,26.0,10.0
3,1906102,NECHES ISD,NECHES ELEM.,3,INDEPENDENT,P O BOX 310,NECHES,75779-0310,5.0,20.0,7.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,INDEPENDENT,201 GILLESPIE RD,PALESTINE,75801-7627,46.0,174.0,93.0,51.0

In [16]:
allstudents_renamed = allstudents_df.rename(columns = {'m_all_unsatgl_nm': 'Below Grade Level', 'm_all_approgl_nm': 'Approach Grade Level', 'm_all_meetsgl_nm': 'Meet Grade Level', 'm_all_mastrgl_nm': 'Master Grade Level'})
allstudents_renamed.head(5)

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,Below Grade Level,Approach Grade Level,Meet Grade Level,Master Grade Level
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,6.0,40.0,38.0,27.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,26.0,68.0,37.0,12.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,16.0,39.0,26.0,10.0
3,1906102,NECHES ISD,NECHES ELEM.,3,INDEPENDENT,P O BOX 310,NECHES,75779-0310,5.0,20.0,7.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,INDEPENDENT,201 GILLESPIE RD,PALESTINE,75801-7627,46.0,174.0,93.0,51.0

In [17]:
allstudents_renamed.count()
#Most columns have enough data to make statistical analysis feasible.

CAMPUS                   4567
DNAME                    4567
CNAME                    4567
GRADE                    4567
District Type            4534
School Street Address    4534
School City              4534
School Zip               4534
Below Grade Level        4542
Approach Grade Level     4542
Meet Grade Level         4542
Master Grade Level       4542
dtype: int64

In [18]:
#Make allstudents.csv subset file for analysis of all student data.
allstudents_renamed.to_csv('../cleandata/AllStudentsGrade3.csv', index=False, header=True)

In [19]:
#Create a demographics dataframe to evaluate racial and demographic data.
demographics_df = cleanedschooldata2[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Street Address', 'School City', 'School Zip', 'm_ethh_unsatgl_nm', 'm_ethi_unsatgl_nm', 'm_etha_unsatgl_nm', 'm_ethb_unsatgl_nm', 'm_ethp_unsatgl_nm', 'm_ethw_unsatgl_nm', 'm_ethh_approgl_nm', 'm_ethi_approgl_nm', 'm_etha_approgl_nm', 'm_ethb_approgl_nm', 'm_ethp_approgl_nm', 'm_ethw_approgl_nm','m_ethh_meetsgl_nm', 'm_ethi_meetsgl_nm', 'm_etha_meetsgl_nm', 'm_ethb_meetsgl_nm', 'm_ethp_meetsgl_nm', 'm_ethw_meetsgl_nm','m_ethh_mastrgl_nm', 'm_ethi_mastrgl_nm', 'm_etha_mastrgl_nm', 'm_ethb_mastrgl_nm', 'm_ethp_mastrgl_nm', 'm_ethw_mastrgl_nm',]]

In [20]:
demographics_df.count()

CAMPUS                   4567
DNAME                    4567
CNAME                    4567
GRADE                    4567
District Type            4534
School Street Address    4534
School City              4534
School Zip               4534
m_ethh_unsatgl_nm        4251
m_ethi_unsatgl_nm          13
m_etha_unsatgl_nm         886
m_ethb_unsatgl_nm        2337
m_ethp_unsatgl_nm          13
m_ethw_unsatgl_nm        3066
m_ethh_approgl_nm        4251
m_ethi_approgl_nm          13
m_etha_approgl_nm         886
m_ethb_approgl_nm        2337
m_ethp_approgl_nm          13
m_ethw_approgl_nm        3066
m_ethh_meetsgl_nm        4251
m_ethi_meetsgl_nm          13
m_etha_meetsgl_nm         886
m_ethb_meetsgl_nm        2337
m_ethp_meetsgl_nm          13
m_ethw_meetsgl_nm        3066
m_ethh_mastrgl_nm        4251
m_ethi_mastrgl_nm          13
m_etha_mastrgl_nm         886
m_ethb_mastrgl_nm        2337
m_ethp_mastrgl_nm          13
m_ethw_mastrgl_nm        3066
dtype: int64

In [21]:
#American Indian (ethi) and Pacific Islander (ethp) have only 15 and 11 counts in the entire columns. I do not believe
#that statistical significance will be achievable for this small population of students. I will leave these data in the
#demographics_df dataframe, but will generate a new dataframe with more complete informaton on Hispanic, Asian, Black,
#and White populations.
demographicsHABW_df = cleanedschooldata2[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Street Address', 'School City', 'School Zip', 'm_ethh_unsatgl_nm', 'm_etha_unsatgl_nm', 'm_ethb_unsatgl_nm', 'm_ethw_unsatgl_nm', 'm_ethh_approgl_nm', 'm_etha_approgl_nm', 'm_ethb_approgl_nm', 'm_ethw_approgl_nm','m_ethh_meetsgl_nm', 'm_etha_meetsgl_nm', 'm_ethb_meetsgl_nm', 'm_ethw_meetsgl_nm','m_ethh_mastrgl_nm', 'm_etha_mastrgl_nm', 'm_ethb_mastrgl_nm', 'm_ethw_mastrgl_nm',]]

In [22]:
demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,m_ethh_unsatgl_nm,m_etha_unsatgl_nm,...,m_ethb_approgl_nm,m_ethw_approgl_nm,m_ethh_meetsgl_nm,m_etha_meetsgl_nm,m_ethb_meetsgl_nm,m_ethw_meetsgl_nm,m_ethh_mastrgl_nm,m_etha_mastrgl_nm,m_ethb_mastrgl_nm,m_ethw_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,NaN,NaN,...,NaN,34.0,NaN,NaN,NaN,32.0,NaN,NaN,NaN,22.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,4.0,NaN,...,2.0,58.0,4.0,NaN,0.0,33.0,1.0,NaN,0.0,11.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,1.0,NaN,...,2.0,30.0,3.0,NaN,1.0,21.0,1.0,NaN,0.0,8.0
3,1906102,NECHES ISD,NECHES ELEM.,3,INDEPENDENT,P O BOX 310,NECHES,75779-0310,1.0,NaN,...,NaN,15.0,0.0,NaN,NaN,7.0,0.0,NaN,NaN,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,INDEPENDENT,201 GILLESPIE RD,PALESTINE,75801-7627,14.0,NaN,...,39.0,51.0,39.0,NaN,16.0,33.0,23.0,NaN,8.0,17.0

In [23]:
#Lots of NaN values in this dataframe. Check sums to see if there are enough students in each population to make
#statistical measurements. Lowest population is Asian at Below Grade Level, but data in other columns for this 
#group are represented in high enough numbers to try statistical analyses.
demographicsHABW_df.sum()

CAMPUS                                                    525039579319
DNAME                CAYUGA ISDELKHART ISDFRANKSTON ISDNECHES ISDPA...
CNAME                CAYUGA ELEM.ELKHART INTERMEFRANKSTON ELEM.NECH...
GRADE                                                            13701
m_ethh_unsatgl_nm                                                45236
m_etha_unsatgl_nm                                                  976
m_ethb_unsatgl_nm                                                16364
m_ethw_unsatgl_nm                                                14519
m_ethh_approgl_nm                                               143132
m_etha_approgl_nm                                                14464
m_ethb_approgl_nm                                                29686
m_ethw_approgl_nm                                                89512
m_ethh_meetsgl_nm                                                80022
m_etha_meetsgl_nm                                                12196
m_ethb_meetsgl_nm                                                14085
m_ethw_meetsgl_nm                                                61289
m_ethh_mastrgl_nm                                                36529
m_etha_mastrgl_nm                                                 8774
m_ethb_mastrgl_nm                                                 5797
m_ethw_mastrgl_nm                                                34316
dtype: object

In [24]:
#Replace NaN with 0
Zeroed_demographicsHABW_df = demographicsHABW_df.fillna(0)
Zeroed_demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,m_ethh_unsatgl_nm,m_etha_unsatgl_nm,...,m_ethb_approgl_nm,m_ethw_approgl_nm,m_ethh_meetsgl_nm,m_etha_meetsgl_nm,m_ethb_meetsgl_nm,m_ethw_meetsgl_nm,m_ethh_mastrgl_nm,m_etha_mastrgl_nm,m_ethb_mastrgl_nm,m_ethw_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,0.0,0.0,...,0.0,34.0,0.0,0.0,0.0,32.0,0.0,0.0,0.0,22.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,4.0,0.0,...,2.0,58.0,4.0,0.0,0.0,33.0,1.0,0.0,0.0,11.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,1.0,0.0,...,2.0,30.0,3.0,0.0,1.0,21.0,1.0,0.0,0.0,8.0
3,1906102,NECHES ISD,NECHES ELEM.,3,INDEPENDENT,P O BOX 310,NECHES,75779-0310,1.0,0.0,...,0.0,15.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,INDEPENDENT,201 GILLESPIE RD,PALESTINE,75801-7627,14.0,0.0,...,39.0,51.0,39.0,0.0,16.0,33.0,23.0,0.0,8.0,17.0

In [25]:
#Rename column headers for easier referencing.
renamed_demographicsHABW_df = Zeroed_demographicsHABW_df.rename(columns = {'m_ethh_unsatgl_nm': 'Below Grade Level Hispanic', 'm_etha_unsatgl_nm': 'Below Grade Level Asian', 'm_ethb_unsatgl_nm': 'Below Grade Level Black', 'm_ethw_unsatgl_nm': 'Below Grade Level White', 'm_ethh_approgl_nm': 'Approach Grade Level Hispanic', 'm_etha_approgl_nm': 'Approach Grade Level Asian', 'm_ethb_approgl_nm': 'Approach Grade Level Black', 'm_ethw_approgl_nm': 'Approach Grade Level White','m_ethh_meetsgl_nm': 'Meet Grade Level Hispanic', 'm_etha_meetsgl_nm': 'Meet Grade Level Asian', 'm_ethb_meetsgl_nm': 'Meet Grade Level Black', 'm_ethw_meetsgl_nm': 'Meet Grade Level White','m_ethh_mastrgl_nm': 'Master Grade Level Hispanic', 'm_etha_mastrgl_nm': 'Master Grade Level Asian', 'm_ethb_mastrgl_nm': 'Master Grade Level Black', 'm_ethw_mastrgl_nm': 'Master Grade Level White'})
renamed_demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,Below Grade Level Hispanic,Below Grade Level Asian,...,Approach Grade Level Black,Approach Grade Level White,Meet Grade Level Hispanic,Meet Grade Level Asian,Meet Grade Level Black,Meet Grade Level White,Master Grade Level Hispanic,Master Grade Level Asian,Master Grade Level Black,Master Grade Level White
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,0.0,0.0,...,0.0,34.0,0.0,0.0,0.0,32.0,0.0,0.0,0.0,22.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,4.0,0.0,...,2.0,58.0,4.0,0.0,0.0,33.0,1.0,0.0,0.0,11.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,1.0,0.0,...,2.0,30.0,3.0,0.0,1.0,21.0,1.0,0.0,0.0,8.0
3,1906102,NECHES ISD,NECHES ELEM.,3,INDEPENDENT,P O BOX 310,NECHES,75779-0310,1.0,0.0,...,0.0,15.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,INDEPENDENT,201 GILLESPIE RD,PALESTINE,75801-7627,14.0,0.0,...,39.0,51.0,39.0,0.0,16.0,33.0,23.0,0.0,8.0,17.0

In [26]:
#Make new .csv file with demographics data
renamed_demographicsHABW_df.to_csv('../cleandata/DemographicsHABWGrade3.csv', index=False, header=True)

In [27]:
#Economically disadvantaged data
#Create list for these headers from the headerlist with added campus number, district name, campus name, and grade info.
econlist = ['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Street Address', 'School City', 'School Zip']
for name in headerlist:
    if 'ecoy' in name:
        econlist.append(name)
        
    else:
        if 'econ' in name:
            econlist.append(name)
econlist

['CAMPUS',
 'DNAME',
 'CNAME',
 'GRADE',
 'District Type',
 'School Street Address',
 'School City',
 'School Zip',
 'm_ecoy_unsatgl_nm',
 'm_econ_unsatgl_nm',
 'm_ecoy_approgl_nm',
 'm_econ_approgl_nm',
 'm_ecoy_meetsgl_nm',
 'm_econ_meetsgl_nm',
 'm_ecoy_mastrgl_nm',
 'm_econ_mastrgl_nm']

In [28]:
#Use econlist to query cleanedschooldata
econdisadvantaged = cleanedschooldata2[econlist]
econdisadvantaged.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,m_ecoy_unsatgl_nm,m_econ_unsatgl_nm,m_ecoy_approgl_nm,m_econ_approgl_nm,m_ecoy_meetsgl_nm,m_econ_meetsgl_nm,m_ecoy_mastrgl_nm,m_econ_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,6.0,0.0,17.0,23.0,15.0,23.0,7.0,20.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,21.0,5.0,34.0,34.0,11.0,26.0,3.0,9.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,12.0,4.0,22.0,17.0,14.0,12.0,4.0,6.0
3,1906102,NECHES ISD,NECHES ELEM.,3,INDEPENDENT,P O BOX 310,NECHES,75779-0310,4.0,1.0,6.0,14.0,0.0,7.0,0.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,INDEPENDENT,201 GILLESPIE RD,PALESTINE,75801-7627,40.0,6.0,131.0,43.0,64.0,29.0,34.0,17.0

In [29]:
#Rename the columns for easier referencing.
renamed_disadvantaged = econdisadvantaged.rename(columns = {'m_ecoy_unsatgl_nm': 'Below Grade Level ED_Yes', 'm_econ_unsatgl_nm': 'Below Grade Level ED_No',
                                                            'm_ecoy_approgl_nm': 'Approach Grade Level ED_Yes', 'm_econ_approgl_nm': 'Approach Grade Level ED_No',
                                                            'm_ecoy_meetsgl_nm': 'Meets Grade Level ED_Yes','m_econ_meetsgl_nm': 'Meets Grade Level ED_No',
                                                            'm_ecoy_mastrgl_nm': 'Master Grade Level ED_Yes','m_econ_mastrgl_nm': 'Master Grade Level ED_No' })
renamed_disadvantaged

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,Below Grade Level ED_Yes,Below Grade Level ED_No,Approach Grade Level ED_Yes,Approach Grade Level ED_No,Meets Grade Level ED_Yes,Meets Grade Level ED_No,Master Grade Level ED_Yes,Master Grade Level ED_No
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,6.0,0.0,17.0,23.0,15.0,23.0,7.0,20.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,21.0,5.0,34.0,34.0,11.0,26.0,3.0,9.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,12.0,4.0,22.0,17.0,14.0,12.0,4.0,6.0
3,1906102,NECHES ISD,NECHES ELEM.,3,INDEPENDENT,P O BOX 310,NECHES,75779-0310,4.0,1.0,6.0,14.0,0.0,7.0,0.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,INDEPENDENT,201 GILLESPIE RD,PALESTINE,75801-7627,40.0,6.0,131.0,43.0,64.0,29.0,34.0,17.0
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,3,INDEPENDENT,P O BOX 260,PALESTINE,75802-0260,43.0,7.0,42.0,14.0,17.0,5.0,6.0,0.0
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,3,INDEPENDENT,5765 E STATE HWY 294,ELKHART,75839-9802,4.0,1.0,15.0,7.0,10.0,3.0,2.0,3.0
7,2901101,ANDREWS ISD,DEVONIAN ELEM.,3,INDEPENDENT,405 NW 3RD ST,ANDREWS,79714-5098,24.0,25.0,91.0,141.0,44.0,100.0,23.0,46.0
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,3,CHARTER,602 S RAGUET ST,LUFKIN,75904,11.0,4.0,39.0,26.0,24.0,20.0,16.0,12.0
9,3902102,HUDSON ISD,W.H. BONNER ELE,3,INDEPENDENT,536 FM 3258,LUFKIN,75904,22.0,5.0,81.0,85.0,43.0,64.0,22.0,27.0
10,3903120,LUFKIN ISD,ANDERSON ELEM.,3,INDEPENDENT,381 CHAMPION DR,LUFKIN,75901-7229,27.0,2.0,40.0,10.0,15.0,5.0,4.0,0.0
11,3903121,LUFKIN ISD,BRANDON ELEM.,3,INDEPENDENT,1612 SAYERS ST,LUFKIN,75904-2012,27.0,2.0,59.0,36.0,34.0,27.0,10.0,21.0
12,3903122,LUFKIN ISD,BROOKHOLLOW ELE,3,INDEPENDENT,1009 LIVE OAK LN,LUFKIN,75904-4245,36.0,1.0,56.0,8.0,21.0,4.0,10.0,2.0
13,3903123,LUFKIN ISD,COSTON ELEM.,3,INDEPENDENT,707 TRENTON,LUFKIN,75901-2497,22.0,1.0,48.0,7.0,23.0,3.0,9.0,1.0
14,3903129,LUFKIN ISD,SLACK ELEM.,3,INDEPENDENT,1305 FULLER SPRINGS DR,LUFKIN,75901-6515,29.0,0.0,111.0,16.0,60.0,11.0,25.0,6.0
15,3904101,HUNTINGTON ISD,HUNTINGTON ELEM,3,INDEPENDENT,P O BOX 328,HUNTINGTON,75949-0328,21.0,6.0,48.0,38.0,21.0,23.0,8.0,13.0
16,3905103,DIBOLL ISD,H.G. TEMPLE INT,3,INDEPENDENT,1301 LUMBERJACK DR,DIBOLL,75941,31.0,0.0,61.0,15.0,27.0,8.0,6.0,6.0
17,3906101,ZAVALLA ISD,ZAVALLA ELEM.,3,INDEPENDENT,431 E MAIN ST,ZAVALLA,75980-0045,3.0,1.0,14.0,9.0,9.0,5.0,8.0,1.0
18,3907102,CENTRAL ISD,CENTRAL ELEM.,3,INDEPENDENT,7622 US HWY 69 N,POLLOK,75969-9710,18.0,10.0,44.0,30.0,16.0,17.0,5.0,8.0
19,4901101,ARANSAS COUNTY,FULTON LEARNING,3,INDEPENDENT,P O BOX 907,ROCKPORT,78381-0907,71.0,20.0,82.0,44.0,34.0,17.0,17.0,11.0
20,5901101,ARCHER CITY ISD,ARCHER CITY ELE,3,INDEPENDENT,P O BOX 926,ARCHER CITY,76351-0926,0.0,0.0,12.0,15.0,11.0,12.0,9.0,9.0
21,5902101,HOLLIDAY ISD,HOLLIDAY ELEM.,3,INDEPENDENT,P O BOX 978,HOLLIDAY,76366-0689,5.0,10.0,11.0,42.0,5.0,25.0,2.0,5.0
22,5904101,WINDTHORST ISD,WINDTHORST ELEM,3,INDEPENDENT,P O BOX 190,WINDTHORST,76389-0190,1.0,0.0,8.0,14.0,1.0,13.0,0.0,9.0
23,6902101,CLAUDE ISD,CLAUDE ELEM.,3,NaN,NaN,NaN,NaN,1.0,2.0,10.0,14.0,6.0,11.0,5.0,9.0
24,7901101,CHARLOTTE ISD,CHARLOTTE ELEM.,3,INDEPENDENT,P O BOX 489,CHARLOTTE,78011-0489,1.0,1.0,23.0,5.0,12.0,3.0,3.0,1.0
25,7902101,JOURDANTON ISD,JOURDANTON ELEM,3,INDEPENDENT,200 ZANDERSON AVE,JOURDANTON,78026-3045,27.0,8.0,36.0,48.0,15.0,25.0,3.0,12.0
26,7904101,LYTLE ISD,LYTLE ELEM.,3,INDEPENDENT,P O BOX 1060,LYTLE,78052-1060,36.0,9.0,50.0,24.0,18.0,12.0,6.0,6.0
27,7905103,PLEASANTON ISD,PLEASANTON ELEM,3,INDEPENDENT,831 STADIUM DR,PLEASANTON,78064-2499,60.0,19.0,97.0,62.0,39.0,36.0,18.0,17.0
28,7906101,POTEET ISD,POTEET ELEM.,3,INDEPENDENT,P O BOX 138,POTEET,78065-0138,38.0,3.0,73.0,17.0,32.0,10.0,6.0,3.0
29,8901101,BELLVILLE ISD,O'BRYANT PRIMAR,3,INDEPENDENT,518 S MATHEWS,BELLVILLE,77418-1599,22.0,8.0,45.0,68.0,18.0,49.0,5.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4537,247904101,POTH ISD,POTH ELEM.,3,INDEPENDENT,P O BOX 250,POTH,78147-0250,6.0,3.0,17.0,20.0,6.0,10.0,1.0,6.0
4538,247906101,STOCKDALE ISD,STOCKDALE ELEM.,3,INDEPENDENT,P O BOX 7,STOCKDALE,78160-0007,8.0,1.0,16.0,18.0,5.0,11.0,2.0,5.0
4539,248901101,KERMIT ISD,KERMIT ELEM.,3,INDEPENDENT,601 S POPLAR,KERMIT,79745,30.0,11.0,39.0,22.0,11.0,6.0,4.0,0.0
4540,248902101,WINK-LOVING ISD,WINK ELEM.,3,INDEPENDENT,P O BOX 637,WINK,79789-0637,7.0,3.0,6.0,15.0,4.0,9.0,0.0,4.0
4541,249901101,ALVORD ISD,ALVORD ELEM.,3,INDEPENDENT,P O BOX 70,ALVORD,76225-0070,3.0,2.0,19.0,28.0,16.0,22.0,10.0,11.0
4542,249902101,BOYD ISD,BOYD ELEM.,3,INDEPENDENT,P O BOX 92308,BOYD,76023-2308,12.0,9.0,30.0,38.0,14.0,13.0,6.0,6.0
4543,249903102,BRIDGEPORT ISD,BRIDGEPORT INTE,3,INDEPENDENT,1400 HWY 380,BRIDGEPORT,76426-0036,34.0,3.0,66.0,37.0,24.0,20.0,9.0,11.0
4544,249904101,CHICO ISD,CHICO ELEM.,3,INDEPENDENT,P O BOX 95,CHICO,76431-0095,13.0,5.0,18.0,13.0,10.0,10.0,3.0,4.0
4545,249905101,DECATUR ISD,RANN ELEM.,3,INDEPENDENT,1300 DEER PARK RD,DECATUR,76234-4403,15.0,10.0,32.0,34.0,11.0,22.0,2.0,9.0
4546,249905103,DECATUR ISD,CARSON ELEM.,3,INDEPENDENT,2100 BUSINESS 81/287 S,DECATUR,76234-2800,11.0,6.0,19.0,45.0,15.0,22.0,3.0,9.0
4547,249905104,DECATUR ISD,YOUNG ELEM.,3,INDEPENDENT,379 BUCHANAN RD,DECATUR,76234,13.0,8.0,24.0,27.0,16.0,17.0,10.0,7.0
4548,249906101,PARADISE ISD,PARADISE ELEM.,3,INDEPENDENT,338 SCHOOLHOUSE RD,PARADISE,76073-0646,4.0,2.0,27.0,52.0,16.0,42.0,8.0,20.0
4549,249908001,SLIDELL ISD,SLIDELL SCHOOLS,3,INDEPENDENT,P O BOX 69,SLIDELL,76267-0069,2.0,3.0,7.0,5.0,2.0,1.0,2.0,1.0
4550,250902101,HAWKINS ISD,HAWKINS ELEM.,3,INDEPENDENT,P O BOX 1430,HAWKINS,75765-1430,7.0,4.0,30.0,12.0,13.0,7.0,5.0,2.0
4551,250903102,MINEOLA ISD,MINEOLA ELEM.,3,INDEPENDENT,900 W PATTEN,MINEOLA,75773-1617,36.0,8.0,53.0,31.0,28.0,16.0,13.0,6.0
4552,250904101,QUITMAN ISD,QUITMAN ELEM.,3,INDEPENDENT,902 E GOODE ST,QUITMAN,75783-1642,6.0,4.0,42.0,25.0,29.0,17.0,9.0,9.0
4553,250905101,YANTIS ISD,YANTIS ELEM.,3,INDEPENDENT,105 W OAK,YANTIS,75497,2.0,1.0,14.0,11.0,9.0,9.0,5.0,6.0
4554,250906101,ALBA-GOLDEN ISD,ALBA-GOLDEN ELE,3,INDEPENDENT,1373 CR 2377,ALBA,75410-9706,11.0,6.0,23.0,23.0,8.0,10.0,3.0,3.0
4555,250907103,WINNSBORO ISD,WINNSBORO ELEM.,3,INDEPENDENT,310 W COKE RD,WINNSBORO,75494-2628,14.0,4.0,34.0,50.0,18.0,30.0,4.0,15.0
4556,251901101,DENVER CITY ISD,KELLEY ELEM.,3,INDEPENDENT,500 N SOLAND,DENVER CITY,79323-2824,28.0,15.0,45.0,37.0,18.0,25.0,9.0,14.0
4557,251902101,PLAINS ISD,PLAINS ELEM.,3,INDEPENDENT,P O BOX 479,PLAINS,79355-0479,8.0,6.0,8.0,10.0,4.0,7.0,0.0,1.0
4558,252901105,GRAHAM ISD,GRAHAM ELEM.,3,INDEPENDENT,1219 CLIFF DR,GRAHAM,76450-4103,35.0,8.0,63.0,60.0,31.0,34.0,13.0,19.0
4559,252902002,NEWCASTLE ISD,NEWCASTLE SCHOO,3,INDEPENDENT,P O BOX 129,NEWCASTLE,73672-0129,3.0,0.0,5.0,6.0,3.0,2.0,2.0,0.0
4560,252903101,OLNEY ISD,OLNEY ELEM.,3,INDEPENDENT,801 W HAMILTON,OLNEY,76374,12.0,3.0,27.0,10.0,14.0,5.0,4.0,1.0
4561,253901101,ZAPATA COUNTY I,BENAVIDES ELEM.,3,INDEPENDENT,P O BOX 158,ZAPATA,78076,2.0,NaN,6.0,NaN,3.0,NaN,2.0,NaN
4562,253901105,ZAPATA COUNTY I,ZAPATA NORTH EL,3,INDEPENDENT,P O BOX 158,ZAPATA,78076-3224,10.0,1.0,57.0,16.0,41.0,13.0,22.0,8.0
4563,253901106,ZAPATA COUNTY I,ZAPATA SOUTH EL,3,INDEPENDENT,P O BOX 158,ZAPATA,78076,17.0,1.0,38.0,24.0,24.0,20.0,10.0,11.0
4564,253901107,ZAPATA COUNTY I,FIDEL AND ANDRE,3,INDEPENDENT,P O BOX 158,ZAPATA,78076,12.0,NaN,64.0,NaN,36.0,NaN,17.0,NaN
4565,254901106,CRYSTAL CITY IS,ZAVALA ELEM.,3,INDEPENDENT,805 E CROCKETT ST,CRYSTAL CITY,78839-2799,44.0,1.0,80.0,14.0,28.0,8.0,12.0,5.0
4566,254902101,LA PRYOR ISD,LA PRYOR ELEM.,3,INDEPENDENT,P O BOX 519,LA PRYOR,78872-0519,8.0,NaN,25.0,NaN,10.0,NaN,3.0,NaN

In [30]:
#Save as .csv for future referencing and analysis of economically disadvantaged data.
renamed_disadvantaged.to_csv('../cleandata/EconomicallyDisadvantagedGrade3.csv', index=False, header=True)